@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

span {
  letter-spacing: 0;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255,255,255,.5);
  color: rgb(59, 7, 100);
  animation: color-change 5s forwards infinite;
}

@keyframes color-change {
  0% {
    color: rgb(59, 7, 100);
  }
  25% {
    color: rgb(88, 28, 135);
  }
  50% {
    color: rgb(107, 33, 168);
  }
  75% {
    color: rgb(113, 27, 188);
  }
  100% {
    color: rgb(64, 22, 96);
  }
}

#Hero {
  background-color: #f1f1f1;
  background-image: url("./assets/UDFXaX01.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 50% auto;
  padding: 100px 0 40px;
}